{% extends"base.html" %}

{% block title %} 
Home
{% endblock %}

{% block content %}
<h2>Bem vindo!</h2><br>
<p>Olá, este é o meu primeiro site desenvolvido com Flask ,HTML e CSS. <br> Estou usando este projeto como espaço de aprendizado e prática em desenvolvimento web.</p><br>
<h3>Sobre mim</h3><br>
<p>Sou estudante de tecnologia e atualmente curso faculdade na area de desenvolvimento. <br>Tenho estudado programação com foco em Python,orientação a objetos e desenvolvimento web</p>
<br>
<h3>Faculdade</h3><br>
<p>A faculdade tem sido importante para consolidar conceitos fundamentais de lógica , programação e organização de projetos. <br> Além das aulas,também busco aprender por meio de cursos complementares e projetos práticos.</p>
<br>
<h3>Estudos em programação</h3><br>
<ul>
    <li>Python</li>
    <li>Programação Orientada a Objetos</li>
    <li>Flask</li>
    <li>HTML e CSS</li>
<ul>    
<br>
<h3>Objetivo</h3><br>
<p>Meu objetivo é evoluir continuamente como desenvolvedor , construindo projetos práticos , melhorando minhas habilidades e criando uma base sólida para oportunidades futuras na área de tecnologia.</p>

{% endblock %}   


